---
import SiteLayout from "../../layouts/SiteLayout.astro";
const articles: Array<{
  file: string;
  frontmatter: { title: string; standfirst?: string };
}> = Object.values(import.meta.glob("../../../content/*.md", { eager: true }));
---

<SiteLayout>
  <div class="article-cards-container">
    <h1>Articles</h1>

    <ul>
      {
        articles.map((article) => (
          <li>
            <a
              href={`/articles/${article.file.split("/").pop()?.replace(".md", "")}`}
            >
              <h3>{article.frontmatter.title}</h3>
              {article.frontmatter.standfirst && (
                <div>{article.frontmatter.standfirst}</div>
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</SiteLayout>

<style>
  .article-cards-container {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
